{% extends 'base.html' %}
{% block content1 %}
<div class="container" style="margin-top: 10%; margin-bottom:7%;">
        <div class="row" >
            <div class="col-lg-6 mb-4" style="margin-left: 35%; margin-bottom: 2%; ">
                <div class="card" style="background: #928287;">
                    <img class="card-img-top" src="" alt="">

                    <div class="card-body">
                        <h3 class="card-title">Active</h3>
                        <p class="card-text">
                            Here is a list of emlployers currently with active status!
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Read
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4" style="margin-left: 35%; margin-top: 10%;">
                <div class="card" style="background: #928287;">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Inactive</h3>
                        <p class="card-text">
                            Here is a list of emlployers currently with inactive status!
                        </p>
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Read
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}